body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}
.wrapper {    
    /* max-width: 1240px;
    padding: 0 auto;
    margin: 0 auto; */
    /* max-width: 
    padding-left:  
    padding-right:  
    margin-left:  
    margin-right: */
}

.container {
    /* ? */
    /* max-width: 1240px; */
    max-width: 1440px;
    /* max-width: 1158px; */
    padding-left: 0;
    padding-right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

/* Header container */
.header .container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    padding: 0 156px;
    border-bottom: 1px solid #E7E9FC;
}
.navbar {
  display: flex;  
} 

/* Logo */
.navbar-logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo .navbar-logo-right {
    color: #2e2f42;
}

.logo .footer-logo-right {
    color: #f4f4fd;
}

/*  Navbar menu */
.navbar-items {
    display: flex;
    gap: 40px;
    padding-left: 76px;
}
.navbar-item {
    display: flex;
}
.navbar-item-link {
    padding-top: 24px;
    padding-bottom: 24px;
    /* display: flex; */
    /* flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 20px; */
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.navbar-item-link:hover,
.navbar-item-link:focus {
    /* display: flex; */
    padding-bottom: 0;
    border-radius: 2px;
    border-bottom: 4px solid #404BBF;
    color: #404BBF;
}

/*  Address  */
.addrbar {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.addr-items {
    display: flex;
    gap: 40px;
}
.addr-item {}

.addr-item-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.addr-item-link:hover,
.addr-item-link:focus {
    color: #404BBF;
}

/* Main */
/* .main-container {} */
.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2E2F42;
    /* width: 100%; */
    padding: 188px 0;
}

.hero-title {
    display: flex;
    /* align-content: center; */
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    /* text-align: center; */
}
.hero-title span {
    width: 496px;
    text-align: center;
}

.hero-button {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background-color: #4D5AE5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
    margin-top: 48px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}


/* Sections title style */
/* h2 */
.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

/* h3 */
.list-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

/* paragraph */
.list-item-descr {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


/* Our Qualities */
.qualities {
    background-color: #FFF;
}


/*  Our Team */
.team {
    background-color: #F4F4FD;
}

/* .team-list {} */
.team-list-item {
    background-color: #FFF;
}

/*.team-list-item-image {} */


/* Our Portfolio */
.portfolio {
    background-color: #FFF;
}

/* .section-portfolio-list {}
.section-portfolio-list-item {}
.section-portfolio-list-item-image {} */


/* Footer */
.footer-container {
    background: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}